---
export interface Props {
    title: string;
    description: string;
    images: Array<{ src: string; alt: string; hdSrc?: string }>;
}
const { title, description, images } = Astro.props;
---

<div
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
>
    <div class="carousel-indicators">
        {
            images.map((image, index) => (
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to={index}
                    class={index === 0 ? "active" : ""}
                    aria-current={index === 0 ? "true" : ""}
                    aria-label={image.alt}
                />
            ))
        }
    </div>
    <div class="carousel-inner">
        {
            images.map((image, index) => (
                <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                    <picture>
                        {image.hdSrc && (
                            <source
                                media="(min-width: 900px)"
                                srcset={image.hdSrc}
                            />
                        )}
                        <img
                            src={image.src}
                            class="d-block w-100"
                            alt={image.alt}
                            style="object-fit: cover;"
                        />
                    </picture>
                </div>
            ))
        }
        <div class="overlay-box">
            <h3>{title}</h3>
            <p>{description}</p>
            <button
                class="btn btn-success btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#contactModal"
            >
                Kontaktieren
            </button>
        </div>
    </div>

    <style>
        h3 {
            margin-bottom: 32px;
            font-weight: bolder;
        }
        p {
            color: var(--bs-heading-success);
            font-weight: bold;
        }
        .carousel-inner {
            position: relative; /* Ensure the overlay box is positioned relative to this */
        }
        .overlay-box {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center; /* Add this to ensure text is centered */
            align-items: center;
            background-color: rgba(var(--bs-secondary-rgb), 0.8);
            color: var(--bs-success);
        }

        /* Adjust width based on viewport size */
        @media (max-width: 992px) {
            .overlay-box {
                width: 80%;
                left: 10%;
            }
        }

        @media (min-width: 993px) and (max-width: 1199px) {
            .overlay-box {
                width: 50%;
                left: 10%;
            }
        }

        @media (min-width: 1200px) {
            .overlay-box {
                width: 30%;
                left: 10%;
            }
        }
    </style>
</div>
